# --- Python 相关 ---
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
*.swp

# --- 模型文件 (最重要：不上传大文件) ---
models/
libs/rknn_packages/*.whl

# --- 编译与临时文件 ---
build/
dist/
*.egg-info/
.cache/
*.log

# --- VS Code 相关 ---
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# --- 数据相关 ---
data/
*.wav
*.pcm

# --- 系统相关 ---
.DS_Store